{% extends "base.html" %}
{% block content %}
    <h1>Sample_project</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.id_project.label }}<br>
            {{ form.id_project(size=64) }}<br>
            {% for error in form.id_project.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.id_sample.label }}<br>
            {{ form.id_sample(size=64) }}<br>
            {% for error in form.id_sample.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}