<!DOCTYPE html>
<html lang = "en">
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

    
    <h1>{{ ('List project') }}</h1>

        <table> 
            <tr>
                <th>Project ID</th>
                <th>Date project</th>
                <th>Result of project</th>
            </tr>
        {% for project in projects %}
                <tr>
                <form method="GET" action="./list_project" style="display: inline">
                    <th>{{project.id_project}}</th>
                    <th>{{project.date_project}}</th>
                    <th>{{project.result_project}}</th>
                </form>
                <form method="POST" action="./list_project" style="display: inline">
                    <th>
                        <button type="submit" name="modify" value="{{ project.id_project }}">Modify</button>
                    </th>
                    <th>
     
                        <button type="submit" name="delete" value="{{ project.id_project }}">Delete</button>
                    </th>
                </form>
                </tr>
        {% endfor %}
        </table>
{% endblock %}        
</html> 