<!DOCTYPE html>
<html lang = "en">
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<body>  
<form method="POST" style="display: inline">
    <table>
        <tr>
            <th>Project ID:</th>
            <th>{{project.id_project}}</th>
                <input type="hidden" value="{{project.id_project}}" name="id_project"></th>
        </tr>
        <tr>
                <th>Date project:</th>
                <th><input type="text" value="{{project.date_project}}" name="date_project"></th>
        </tr>
    
        <tr>
                <th>Result of project:</th>
                <th><input type="text" value="{{project.result_project}}" name="result_project"></th>
        </tr>

    </table> 
        <input type="submit" value="validate"> 
</form>     
</body>
{% endblock %}   
</html>
        